html {
    /*font-family: sans-serif;*/
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:visited {
    color: #337ab7;
}

#outer {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 700px;
}

#header {
    font-size: 35px;
    padding-bottom: 20px;
    /*text-align: center;*/
    height: 200px;
}

#hleft {
    float: left;
    padding-left: 20px;
}

#hright {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

#hright p {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

#navbar {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navlink {
    flex: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

.current {
    font-weight: bold;
}

#content {
    margin: 0;
    margin-top: 20px;
    padding: 20px;
    font-family: sans-serif;
    font-size: 19px;
}

#content p {
    margin-top: 0px;
    margin-bottom: 20px;
}

#cathy {
    /*width: 150px;*/
    opacity: 0.8;
}

a.inactive {
   pointer-events: none;
   cursor: default;
   color: gray;
}

/* index: hotel-list */

table.hotel-list {
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
  text-align: left;
  border-spacing: 0px;
}

table.hotel-list > tbody > tr:nth-child(2n) {
  /*background-color: #E0E0E0;*/
}

table.hotel-list > tbody > tr > td {
  padding: 10px 0px 10px 10px;
}

table.hotel-list > tbody > tr:hover {
  background-color: #F6F6F6;
}

table.hotel-list > thead > tr > th {
  padding: 10px 0px 5px 10px;
  border-bottom: 1px solid black;
}

table.hotel-list td {
  vertical-align: top;
}

/* agenda: schedule */

table.schedule > tbody > tr > th {
  padding: 10px 0px 5px 10px;
  border-bottom: 1px solid black;
  background-color: white;
}

table.schedule > tbody > tr > td:first-child {
    width: 25%;
}

table.schedule > tbody > tr > td {
    padding: 5px 0px 0px 0px;
    vertical-align: top;
}
